<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Uzmedical | Home</title>

    <link rel="shortcut icon" href="../images/uzmedical-logo/vector/isolated-monochrome-white.svg" type="image/x-icon">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/responsive.css">
</head>
<body>

<header class="top-header">
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i>&#9776;</i>
        </label>
        <label class="logo">Uzmedical</label>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="service.html">Services</a></li>
            <li><a href="appointment.html">Appointment</a></li>
            <li><a href="team.html">Our Team</a></li>
            <li><a class="active" href="about.html">About Us</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
</header>
<!-- End header -->

<section>
    <table class="entire-page">

        <tr>

            <td class="about-section">

                <h1>Uzmedical is the largest network of physicians in Uzbekistan.

                </h1>
                <img src="../images/about-1.jpg" alt="dentist and child">
                <p></p>
                A unique partnership with Akfa University and Medical Academy, one of the nation’s leading medical
                schools, gives patients access to leading-edge medicine and treatment options that are available
                first, and often only, at Uzmedical.
                <p>
            </td>

        </tr>

        <tr>

            <td class="about-section">

                <h2>Highly Skilled Care</h2>

                <img src="../images/about-2.jpg" alt="about image">

                <p>At Uzmedical you’ll receive the best care available, personalized for your specific needs. We believe
                    in treating the whole person – not just the symptom – and ensuring that our approach is right for
                    you and your lifestyle.

                    As an academic health center, Uzmedical works in partnership with Akfa University and Medical
                    Academy to train
                    physicians, blending breakthrough research and high-quality patient care.

                    Based in Tashkent with dozens of facilities statewide, Uzmedical is a regional leader
                    in providing the right healthcare when and where you need it. Learn more about who we are, the care
                    we provide and how we achieve our mission.
                </p>

            </td>

        </tr>

        <tr>

            <td class="about-section">

                <h2>Our Vision, Values & Promise</h2>

                <img src="../images/about-3.jpg" alt="about image 3">

                <p>Uzmedical has been on a path to create a healthy culture for all. The Uzmedical Way describes our
                    shared culture and how we aspire to treat each other, our patients and the communities we serve.

                    Our vision: <strong>To make Tashkent one of the nation’s healthiest states</strong>
                    <br>Our promise: <strong>The Best Care, Designed for You</strong>
                    <br>Our values:

                    <br> <strong> Purpose:</strong> We work to do good in the lives of all others
                    <br><strong>Excellence:</strong> We do our best at all times and in new ways
                    <br><strong>Compassion:</strong> We treat all people with respect, kindness and empathy
                    <br><strong>Team:</strong> We count on and care for each other

                </p>
            </td>

        </tr>


    </table>
</section>

<footer class="about-footer">
    <div class="footer-distributed">
        <div class="footer-left">

            <label class="logo">Uzmedical</label>

            <p class="footer-links">
                <a class="link-1" href="index.html">Home</a>
                <a href="service.html">Services</a>
                <a href="appointment.html">Appointment</a>
                <a href="team.html">Our Team</a>
                <a href="about.html">About Us</a>
                <a href="contact.html">Contact</a>

            </p>

            <p class="footer-company-name">This website was created to fulfill Web Technology module’s
                requirements and does not represent an actual company or service.</p>
        </div>

        <div class="footer-center">

            <div>
                <p><span>12 Istiqlol Street</span> Tashkent, Uzbekistan</p>
            </div>

            <div>
                <p>+998 99 999 99 99</p>
            </div>

            <div>
                <p><a href="mailto:support@company.com">support@uzmedical.com</a></p>
            </div>

        </div>

        <div class="footer-right">

            <p class="footer-company-about">
                <span>About the company</span>
                This company does not exist in the real life. Only done for assignment purposes.
            </p>

        </div>
    </div>
</footer>


<script src="../scripts/main.js"></script>

</body>
</html>