<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Uzmedical | Home</title>

    <link rel="shortcut icon" href="../images/uzmedical-logo/vector/isolated-monochrome-white.svg" type="image/x-icon">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/responsive.css">
</head>
<body>
<!-- LOADER -->
<!--<div id="preloader">-->
<!--    <div class="loader">-->
<!--        <img src="../images/Triangles-1s-200px.gif" alt="" />-->
<!--    </div>-->
<!--</div>-->
<!-- Start header -->
<header class="top-header">
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i>&#9776;</i>
        </label>
        <label class="logo">Uzmedical</label>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="service.html">Services</a></li>
            <li><a href="appointment.html">Appointment</a></li>
            <li><a href="team.html">Our Team</a></li>
            <li><a class="active" href="about.html">About Us</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
</header>
<!-- End header -->

<section>

</section>

<script src="../scripts/main.js"></script>

</body>
</html>