<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Uzmedical | Home</title>

    <link rel="shortcut icon" href="../images/uzmedical-logo/vector/isolated-monochrome-white.svg" type="image/x-icon">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/responsive.css">
</head>

<body>
<!--Start header-->
<header class="top-header">
    <nav>
        <input type="checkbox" id="check">

        <label for="check" class="checkbtn">
            <i>&#9776;</i>
        </label>

        <label class="logo">Uzmedical</label>

        <ul>
            <li><a class="active" href="index.html">Home</a></li>
            <li><a href="service.html">Services</a></li>
            <li><a href="appointment.html">Appointment</a></li>
            <li><a href="team.html">Our Team</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
</header>
<!-- End header -->

<section>
    <div class="slideshow-container">

        <div class="mySlides fade">
            <img src="../images/slider-01.jpg" alt="slider image one">

            <div class="text">
                <h1>Welcome to Uzmedical</h1>
                <a href="about.html" class="active">About Us</a>
            </div>
        </div>

        <div class="mySlides fade">
            <img src="../images/slider-02.jpg" alt="slider image two">

            <div class="text">
                <h1>You are our priority</h1>
                <a href="appointment.html" class="active">Make Appointment</a>
            </div>
        </div>

        <div class="mySlides fade">
            <img src="../images/slider-03.jpg" alt="slider image three">

            <div class="text">
                <h1>Your health is on the hands of professionals</h1>
                <a href="team.html" class="active">Our Team</a>
            </div>
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

    </div>
</section>

<!--Main Content-->
<section class="main">
    <div class="grid-flex">
        <div class="col col-image" style="background-image: url(../images/about.jpg);">
            &nbsp;
        </div>

        <div class="col col-text">
            <div class="aligner-item">
                <h2>About Us</h2>
                <p>Based in Tashkent with dozens of facilities statewide, Uzmedical is a regional leader
                    in providing the right healthcare when and where you need it. Learn more about who we are, the care
                    we provide and how we achieve our mission.</p>
                <a href="about.html" class="active">Read More</a>
            </div>
        </div>
    </div>

    <div class="grid-flex">
        <div class="col col-image" style="background-image: url(../images/team.jpg);">
            &nbsp;
        </div>

        <div class="col col-text col-left">
            <div class="aligner-item">
                <h2>Meet Our Family</h2>
                <p>At Uzmedical you’ll receive the best care available, personalized for your specific needs. We believe
                    in treating the whole person – not just the symptom – and ensuring that our approach is right for
                    you and your lifestyle.</p>
                <a href="team.html" class="active">Read More</a>
            </div>
        </div>
    </div>

    <div class="grid-flex">
        <div class="col col-image" style="background-image: url(../images/service.jpg);">
            &nbsp;
        </div>

        <div class="col col-text">
            <div class="aligner-item">
                <h2>What we offer</h2>
                <p> A unique partnership with Akfa University and Medical Academy, one of the nation’s leading medical
                    schools, gives patients access to leading-edge medicine and treatment options that are available
                    first, and often only, at Uzmedical.</p>
                <a href="service.html" class="active">Read More</a>
            </div>
        </div>
    </div>

    <div class="grid-flex">
        <div class="col col-image" style="background-image: url(../images/appointment.jpg);">
            &nbsp;
        </div>

        <div class="col col-text col-left">
            <div class="aligner-item">
                <h2>One step left</h2>
                <p>As an academic health center, Uzmedical works in partnership with Akfa University and Medical
                    Academy to train
                    physicians, blending breakthrough research and high-quality patient care.</p>
                <a class="active" href="appointment.html">Make Appointment</a>
            </div>
        </div>
    </div>

    <div class="grid-flex">
        <div class="col col-image" style="background-image: url(../images/contact.jpg);">
            &nbsp;
        </div>

        <div class="col col-text">
            <div class="aligner-item">
                <h2>We are glad to hear from you</h2>
                <p>By using Uzmedical's services, you can be 100% sure that your health is on the hands of professionals
                    of the field. If you have any unclear questions, we are always happy to answer them in person or via
                    email. Just reach out to us and we grow together!</p>
                <a href="contact.html" class="active" >Contact Now</a>
            </div>
        </div>
    </div>
</section>

<!--Footer-->
<footer class="contact-footer ">
    <div class="footer-distributed">
        <div class="footer-left">

            <label class="logo">Uzmedical</label>

            <p class="footer-links">
                <a class="link-1" href="index.html">Home</a>
                <a href="service.html">Services</a>
                <a href="appointment.html">Appointment</a>
                <a href="team.html">Our Team</a>
                <a href="about.html">About Us</a>
                <a href="contact.html">Contact</a>

            </p>

            <p class="footer-company-name">This website was created to fulfill Web Technology module’s
                requirements and does not represent an actual company or service.</p>
        </div>

        <div class="footer-center">

            <div>
                <p><span>12 Istiqbol Street</span> Tashkent, Uzbekistan</p>
            </div>

            <div>
                <p>+998 99 999 99 99</p>
            </div>

            <div>
                <p><a href="mailto:support@company.com">support@uzmedical.com</a></p>
            </div>

        </div>

        <div class="footer-right">

            <p class="footer-company-about">
                <span>About the company</span>
                This company does not exist in the real life. Only done for assignment purposes.
            </p>

        </div>
    </div>
</footer>

<script src="../scripts/main.js"></script>

</body>
</html>