<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Uzmedical | Home</title>

    <link rel="shortcut icon" href="../images/uzmedical-logo/vector/isolated-monochrome-white.svg" type="image/x-icon">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/responsive.css">
</head>
<body>
<!-- LOADER -->
<!--<div id="preloader">-->
<!--    <div class="loader">-->
<!--        <img src="../images/Triangles-1s-200px.gif" alt="" />-->
<!--    </div>-->
<!--</div>-->
<!-- Start header -->
<header class="top-header">
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i>&#9776;</i>
        </label>
        <label class="logo">Uzmedical</label>
        <ul>
            <li><a class="active" href="index.html">Home</a></li>
            <li><a href="service.html">Services</a></li>
            <li><a href="appointment.html">Appointment</a></li>
            <li><a href="team.html">Our Team</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="contact.html">Contact</a></li>

        </ul>
    </nav>
</header>
<!-- End header -->
<section>
    <div class="slideshow-container">

        <div class="mySlides fade">
            <img src="../images/slider-01.jpg" style="width:100%">
            <div class="text">
                <h1>Welcome to Uzmedical</h1>
                <a class="active" href="about.html">About Us</a>
            </div>
        </div>

        <div class="mySlides fade">
            <img src="../images/slider-02.jpg" style="width:100%">
            <div class="text">
                <h1>You are our priority</h1>
                <a class="active" href="appointment.html">Make Appointment</a>
            </div>
        </div>

        <div class="mySlides fade">
            <img src="../images/slider-03.jpg" style="width:100%">
            <div class="text">
                <h1>Your health is on the hands of professionals</h1>
                <a class="active" href="team.html">Our Team</a>
            </div>
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

    </div>
</section>

<section class="main">
    <div class="grid-flex">
        <div class="col col-image" style="background-image: url(../images/about.jpg);">
            &nbsp;
        </div>
        <div class="col col-text">
            <div class="Aligner-item">
                <h2>About Us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci cum excepturi fuga harum molestiae
                    odit officiis possimus quibusdam sunt unde. Alias aspernatur aut commodi doloribus inventore iste
                    laborum nesciunt optio quidem, saepe suscipit tenetur voluptatum!</p>
                <a class="active" href="about.html">Read More</a>
            </div>
        </div>
    </div>

    <div class="grid-flex">
        <div class="col col-image" style="background-image: url(../images/team.jpg);">
            &nbsp;
        </div>
        <div class="col col-text col-left">
            <div class="Aligner-item">
                <h2>Meet Our Family</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci cum excepturi fuga harum molestiae
                    odit officiis possimus quibusdam sunt unde. Alias aspernatur aut commodi doloribus inventore iste
                    laborum nesciunt optio quidem, saepe suscipit tenetur voluptatum!</p>
                <a href="team.html" class="active" >Read More</a>
            </div>
        </div>
    </div>

    <div class="grid-flex">
        <div class="col col-image" style="background-image: url(../images/service.jpg);">
            &nbsp;
        </div>
        <div class="col col-text">
            <div class="Aligner-item">
                <h2>What we offer</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci cum excepturi fuga harum molestiae
                    odit officiis possimus quibusdam sunt unde. Alias aspernatur aut commodi doloribus inventore iste
                    laborum nesciunt optio quidem, saepe suscipit tenetur voluptatum!</p>
                <a href="service.html" class="active">Read More</a>
            </div>
        </div>
    </div>

    <div class="grid-flex">
        <div class="col col-image" style="background-image: url(../images/appointment.jpg);">
            &nbsp;
        </div>
        <div class="col col-text col-left">
            <div class="Aligner-item">
                <h2>One step left</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci cum excepturi fuga harum molestiae
                    odit officiis possimus quibusdam sunt unde. Alias aspernatur aut commodi doloribus inventore iste
                    laborum nesciunt optio quidem, saepe suscipit tenetur voluptatum!</p>
                <a class="active" href="appointment.html">Make Appointment</a>
            </div>
        </div>
    </div>

    <div class="grid-flex">
        <div class="col col-image" style="background-image: url(../images/contact.jpg);">
            &nbsp;
        </div>
        <div class="col col-text">
            <div class="Aligner-item">
                <h2>We are glad to hear from you</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci cum excepturi fuga harum molestiae
                    odit officiis possimus quibusdam sunt unde. Alias aspernatur aut commodi doloribus inventore iste
                    laborum nesciunt optio quidem, saepe suscipit tenetur voluptatum!</p>
                <a class="active" href="contact.html">Contact Now</a>
            </div>
        </div>
    </div>
</section>

<footer class="footer-distributed">

    <div class="footer-left">

        <label class="logo">Uzmedical</label>

        <p class="footer-links">
      <a class="link-1" href="index.html">Home</a>
            <a href="service.html">Services</a>
            <a href="appointment.html">Appointment</a>
            <a href="team.html">Our Team</a>
            <a href="about.html">About Us</a>
            <a href="contact.html">Contact</a>

        </p>

        <p class="footer-company-name">This website was created to fulfill Web Technology module’s
            requirements and does not represent an actual company or service.</p>
    </div>

    <div class="footer-center">

        <div>
            <p><span>12 Istiqlol Street</span> Tashkent, Uzbekistan</p>
        </div>

        <div>
            <p>+998 99 999 99 99</p>
        </div>

        <div>
            <p><a href="mailto:support@company.com">support@uzmedical.com</a></p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>About the company</span>
            Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus
            vehicula sit amet.
        </p>


    </div>

</footer>


<script src="../scripts/main.js"></script>

</body>
</html>