<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Uzmedical | Home</title>

    <link rel="shortcut icon" href="../images/uzmedical-logo/vector/isolated-monochrome-white.svg" type="image/x-icon">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/responsive.css">
</head>
<body>

<header class="top-header">
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i>&#9776;</i>
        </label>
        <label class="logo">Uzmedical</label>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a class="active" href="service.html">Services</a></li>
            <li><a href="appointment.html">Appointment</a></li>
            <li><a href="team.html">Our Team</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
</header>
<!-- End header -->

<section>
    <div class="title">
        Our Services
    </div>
    <br>
    <div class="cards">
        <div class="service-inner">
            <div class="service-img">
                <img class="img-in" src="../images/service-1.jpg" alt=""/>
            </div>
            <h2>Short-term hospitalization</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus earum eum in, iure maiores mollitia
                necessitatibus, nihil nulla provident quaerat, quia quod ullam velit? </p>
        </div>
        <div class="service-inner">
            <div class="service-img">
                <img class="img-in" src="../images/service-2.jpg" alt=""/>
            </div>
            <h2>Emergency room services</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus earum eum in, iure maiores mollitia
                necessitatibus, nihil nulla provident quaerat, quia quod ullam velit? </p>
        </div>
        <div class="service-inner">
            <div class="service-img">
                <img class="img-in" src="../images/service-3.jpg" alt=""/>
            </div>
            <h2>General and specialty surgical services</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus earum eum in, iure maiores mollitia
                necessitatibus, nihil nulla provident quaerat, quia quod ullam velit? </p>
        </div>

        <div class="service-inner">
            <div class="service-img">
                <img class="img-in" src="../images/service-1.jpg" alt=""/>
            </div>
            <h2>X ray/radiology services</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus earum eum in, iure maiores mollitia
                necessitatibus, nihil nulla provident quaerat, quia quod ullam velit? </p>
        </div>
        <div class="service-inner">
            <div class="service-img">
                <img class="img-in" src="../images/service-2.jpg" alt=""/>
            </div>
            <h2>Laboratory services</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus earum eum in, iure maiores mollitia
                necessitatibus, nihil nulla provident quaerat, quia quod ullam velit? </p>

        </div>
        <div class="service-inner">
            <div class="service-img">
                <img class="img-in" src="../images/service-3.jpg" alt=""/>
            </div>
            <h2>Blood services</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus earum eum in, iure maiores mollitia
                necessitatibus, nihil nulla provident quaerat, quia quod ullam velit? </p>
        </div>
    </div>
    <div class="title" style="margin-top: 60px">
        Make Appointment Right Now and Get 30% Discount on All Services
    </div>
    <br>
    <a class="active center" href="appointment.html">Click Here</a>
</section>
<footer class="contact-footer">
    <div class="footer-distributed">

        <div class="footer-left">

            <label class="logo">Uzmedical</label>

            <p class="footer-links">
                <a class="link-1" href="index.html">Home</a>
                <a href="service.html">Services</a>
                <a href="appointment.html">Appointment</a>
                <a href="team.html">Our Team</a>
                <a href="about.html">About Us</a>
                <a href="contact.html">Contact</a>

            </p>

            <p class="footer-company-name">This website was created to fulfill Web Technology module’s
                requirements and does not represent an actual company or service.</p>
        </div>

        <div class="footer-center">

            <div>
                <p><span>12 Istiqlol Street</span> Tashkent, Uzbekistan</p>
            </div>

            <div>
                <p>+998 99 999 99 99</p>
            </div>

            <div>
                <p><a href="mailto:support@company.com">support@uzmedical.com</a></p>
            </div>

        </div>

        <div class="footer-right">

            <p class="footer-company-about">
                <span>About the company</span>
                This company does not exist in the real life. Only done for assignment purposes.
            </p>


        </div>

    </div>
</footer>

<script src="../scripts/main.js"></script>

</body>
</html>