<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Uzmedical | Our Team</title>

    <link rel="shortcut icon" href="../images/uzmedical-logo/vector/isolated-monochrome-white.svg" type="image/x-icon">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/responsive.css"></head>
<body>
<!-- LOADER -->
<!--<div id="preloader">-->
<!--    <div class="loader">-->
<!--        <img src="images/Triangles-1s-200px.gif" alt="" />-->
<!--    </div>-->
<!--</div>-->
<!-- Start header -->
<header class="top-header">
    <nav class="navbar  navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="index.html"><img src="../images/uzmedical-logo/vector/default-monochrome.svg" alt="image"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                <ul class="navbar-nav">
                    <li><a class="nav-link" href="index.html">Home</a></li>
                    <li><a class="nav-link" href="service.html">Services</a></li>
                    <li><a class="nav-link" href="appointment.html">Appointment</a></li>
                    <li><a class="nav-link active" href="team.html">Our Team</a></li>
                    <li><a class="nav-link" href="about.html">About Us</a></li>
                    <li><a class="nav-link" href="contact.html">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- End header -->

</body>
</html>